@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
}
body {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 60px 30px;
}
.section {
    height: 100%;
    width: 50%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#b394e6, #8e5fb9, #b394e6);
    border: 1px solid gray;
    border-radius: 30px;
}
#qr-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    height: fit-content;
}
.qr-code {
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
label {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
button {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: rgb(92, 184, 130);
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 2px 2px black;
}
span {
    z-index: 2;
    position: relative;
}
#advanced-options {
    background-color: rgb(92, 184, 130);
    width: 40%;
    padding: 30px;
    height: fit-content;
    position: absolute;
    border-radius: 10px;
    z-index: 9;
    transform: scale(0);
    transition: all 0.3s ease;
    top: 25%;
}
.size-note {
    font-size: 1.1rem;
    text-align: center;
}
#advanced-options.active {
    transform: scale(1);
}
#advanced-options.output-visible.active {
    transform: scale(1) translateX(6%);
}
.no-style-btn {
    font-size: 3rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    margin: 0;
}
.no-style-btn img {
    transition: all 0.2s ease;
}
.advanced-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.advanced-header p {
    margin-bottom: 0;
}
.no-style-btn img {
    filter: invert(0);
    width: 25px;
}
.no-style-btn::before, .no-style-btn::after {
    content: none;
}
.no-style-btn:hover {
    box-shadow: none;
    transform: scale(1.1);
}
.no-style-btn:active img {
    transform: scale(0.5);
}
#advanced-options label {
    font-size: 1rem;
}
#advanced-options input, #advanced-options select {
    padding: 2px;
    margin-bottom: 30px;
    border-radius: 5px;
}
#advanced-options select {
    width: 85%;
}
#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
.color-selectors {
    display: flex;
    gap: 10px;
}
.color-selector {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.color-selector input {
    width: 90%;
} 
button:hover {
    transform: scale(1.03);
    &::after {
        animation: spin 3s linear infinite forwards;
        background: linear-gradient(90deg,rgba(209, 52, 52, 1) 0%, rgba(255, 235, 54, 1) 25%, rgba(15, 218, 25, 1) 50%, rgba(151, 99, 255, 1) 75%, rgba(252, 69, 225, 1) 100%);
    }
    box-shadow: 2px 5px 5px black;
}
@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
button:active {
    transform: scale(0.96);
}
button::after {
    content: '';
    background: rgb(92, 184, 130);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 400%;
    z-index: -1;
    transition: all 0.3s ease;
}
button::before {
    content: '';
    background-color: rgb(92, 184, 130);
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}
input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 35px;
    font-size: 1.5rem;
    border-radius: 10px;
}
.link-input {
    position: relative;
    width: 70%;
}
#clear-input {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
#clear-input:hover {
    transform: scale(1.1) translateY(-50%);
}
#clear-input img {
    width: 20px;
}
#download-button.invalid {
    pointer-events: none;
    opacity: 0.7;
}
p {
    margin-bottom: 10px;
    font-size: 2rem;
    color: #fff;
}
.arrow {
    width: 50px;
    margin-bottom: 10px;
    transform: rotate(30deg);
    filter: invert(1);
}
.link-arrow {
    width: 40px;
}
.header {
    font-size: 2.5rem;
    margin-bottom: 20px;
    top: 30px;
    width: 100%;
    text-align: center;
}
#qr-form {
    position: relative;
}
.advanced-button {
    color: #000;
    font-size: 0.8rem;
    background-color: #f7f7f7;
    margin-top: 0;
}
.advanced-button::before, .advanced-button::after {
    background: #f7f7f7;
}
.qr-size {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
#advanced-options select {
    width: 100%;
}

@media screen and (max-width: 640px) {
    body {
        padding: 0;
        flex-direction: column;
        background: #8e5fb9;
        height: 85vh;
    }
    p {
        font-size: 1.25rem;
    }
    button:hover {
        transform: scale(0.9);
    }
    .header {
        font-size: 1.5rem;
    }
    label {
        font-size: 1rem;
    }
    input {
        font-size: 1rem;
        width: 100%;
    }
    .link-input {
        width: 100%;
    }
    .arrow {
        width: 25px;
    }
    .section {
        width: 100%;
        height: fit-content;
        margin: 0;
        margin-top: 20px;
        border: none;
        border-radius: 0;
        background: #8e5fb9;
        padding-top: 0;
        justify-content: start;
    }
    #advanced-options {
        padding: 20px;
        width: 80%;
        top: 15%;
    }
    #advanced-options.output-visible.active {
        transform: scale(1);
    }
    .no-style-btn:hover img {
        transform: scale(0.5);
    }
    #advanced-options select {
        margin-bottom: 10px;
    }
    .size-note {
        font-size: 0.8rem;
    }
    #qr-form {
        height: fit-content;
        justify-content: end;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
    }
    .header {
        top: 20px;
    }
    canvas {
        width: 200px;
        object-fit: cover;
    }
}